<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light p-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Comind</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/locations">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/addworkspace">List Your Space</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pricingplanes">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>