<section class="notfound text-center">
    <div class="container my-5">
        <div class="row">
            <div class="alert alert-warning p-3 container w-75 text-center">
                <marquee behavior="Alternate" direction="">
                    Oops! Error 404 page not found
                </marquee>
            </div>
            <div class="error">
                <img src="../../assets/images/reserve/error.png" style="width: 600px;" alt="">
            </div>
        </div>
    </div>
</section>