<body>
    <div class="box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 logbox">
                    <h1>Sign Up</h1>
                    <form action="#" class="mb-3" name="registration">
                        <div class="row mt-5 ">
                            <div class="col-lg-6">
                               
                                <div class="form-group mb-3">
                                    <input type="text" name="username" class="form-control" id="username"
                                         placeholder=" First Name" 
                                        [(ngModel)]="usrsignup.username" required minlength="8"
                                        #username="ngModel">
                                </div>
                                <div *ngIf="username.invalid && (username.dirty||username.touched)"
                                    class="alert alert-danger ">
                                    <div *ngIf="username.errors?.required">
                                        User Name is required
                                    </div>
                                    <div *ngIf="username.errors?.minlength">
                                        Shoud be 8 charchters
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <input type="text" name="lastname" class="form-control" id="lastname"
                                         placeholder=" lastname"
                                        [(ngModel)]="usrsignup.lastname" required minlength="8"
                                        #lastname="ngModel">
                                </div>
                                <div *ngIf="lastname.invalid && (lastname.dirty||lastname.touched)"
                                    class="alert alert-danger ">
                                    <div *ngIf="lastname.errors?.required">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastname.errors?.minlength">
                                        Shoud be 8 charchters
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <input type="email" name="email" class="form-control mb-3" id="email"
                                aria-describedby="emailHelp" placeholder=" Email"
                                [(ngModel)]="usrsignup.email" required email
                                #email="ngModel">
                        </div>
                        <div *ngIf="email.invalid && (email.dirty||email.touched)"
                            class="alert alert-danger my-2">
                            <div *ngIf="email.errors?.required">
                                Email is required
                            </div>
                            <div *ngIf="email.errors?.email">
                                Email is not valid
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control"
                                 placeholder=" Password"
                                [(ngModel)]="usrsignup.password" required 
                                #password="ngModel">
                        </div>
                        <div *ngIf="password.invalid && (password.dirty||password.touched)"
                            class="alert alert-danger my-2">
                            <div *ngIf="password.errors?.required">
                                Password is required
                            </div>
                        </div>
                        <div class="col-md-12 text-center mb-3">
                            <a routerLink="/" type="submit" class=" btn btn-block mybtn btn-dark tx-tfm mt-3">Sign Up</a>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <p class="text-center "><a routerLink="/signin" class="text-light" id="signin">Already have an account?</a></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 text-center">
                    <img src="../../assets/images/signup.png" alt="">
                </div>
            </div>
        </div>
    </div>
    
</body>